header{
    background-color:gray;  
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

header > div{
    color: black;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav > li{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bolder;
}


.section1{
    display: flex;
    flex-direction: row;
}

.section1_left{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

h1{
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
}

.section1_left img{
    width: 30vw;
    border-radius: 50%;
}

.section1_right{
    margin: 10vw 5vw 0 3vw;
}

.section1_right h2{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.section1_right > ul {
    margin: 2vh 0 7vh 0;
    font-size: 20px;
    background: #fffcf4;
    border: dotted #1e366a 1px;
}

.section1_right > ul > li{
    margin: 2vh 3vw 2vh 4vw;
    list-style-type:square;
}

.section2 > h2{
    padding-top: 10vh;
    margin: 10vh 0 3vh 3vw;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}
.hobbycards1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobbycards1 > div{
    border: solid 0.1px grey;
    width: 30vw;
    height: 22.5vw; 
}

#img1{
    background-image:url(../img/256959_s.jpg);
    background-size: contain;
}

#img2{
    background-image:url(../img/3802300_s.jpg);
    background-size: contain;
}

#img3{
    background-image:url(../img/980056_s.jpg);
    background-size: contain;
}

.hobbycards1 > div> h3{
    margin-top: 0.5vh;
    color: ivory;
    text-align: center;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

#img4{
    background-image:url(../img/4776547_s.jpg);
    background-size: contain;
}

#img5{
    background-image:url(../img/4006238_s.jpg);
    background-size: contain;
}

#img6{
    background-image:url(../img/2275429_s.jpg);
    background-size: contain;
}


.contactbox{
    display: flex;
    justify-content: space-around;
}

.contact h2{
    font-family: 'Pacifico', cursive;
    margin: 15vh 0 3vh 3vw;
    font-size: 30px;
}

.contact_left , .contact_right{
    width: 35vw;
}


.contact_right iframe{
    width: 35vw;
    height: 28vw;
}

.contact_left > form{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.contact_left > form >input{
    width: 30vw;
    height: 3vw;
    margin-bottom: 5px;
    font-size: 15px;
}

.contact_left > form > textarea{
    width: 30vw;
    height: 18vw;
    margin-bottom: 1vw;
}

footer{
    margin-top: 20px;
    background-color:gray;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    display: none;
}

@media screen and (max-width:599px){
    .section1_left > h1{
        font-size: 30px;
    }

    .section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section1_left{
        margin-top: 10vh;
    }


    .section1_right > ul > li{
        margin: 2vh 3vw 2vh 4vw;
        list-style-type:none;
    }

    #hobby{
        margin-left: 4vw;
    }

    .section2 > h2{
        padding-top: 0;
        margin: 0 0 2vh 0;
    }


    .nav{
        display: none; 
    }

    .hamburger-label{
        display: block;
        position: relative;
        right: 15px;
        width: 50px;
        height: 50px;
        content: '';
        cursor: pointer;
    }

    .hamburger, .hamburger::before, .hamburger::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 2px;
        width: 35px;
        background-color: white;
        display: block;
        content: '';
        transition: all 1s;
    }

    .hamburger::before{
        top: -25px;
    }

    .hamburger::after{
        top: 25px;
    }

    #menu:checked ~ .hamburger-label > .hamburger::before{
        top: 0;
        transform: rotate(45deg) ;
    }

    #menu:checked ~ .hamburger-label > .hamburger::after{
        top: 0;
        transform: rotate(-45deg) ;
    }

    #menu:checked ~ .hamburger-label > .hamburger {
        background-color: transparent;
    }
    #menu:checked ~ .nav{
        display: flex;
    }

    #menu:checked ~ .nav > li > a{
        animation: show 1s linear 0s;
    }

    #menu:not(:checked) ~ .nav{
        animation: show 1s linear 0s 1 reverse forwards;

    }

    .header_right{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .hobbycards1 > div{
        width: 60vw;
        height: 45vw;
        margin: 10px 0 10px 0;
    }

    .contactbox{
        flex-direction: column;
        align-items: center;
    }


    .contact_left , .contact_right{
        width: 70vw;
    }

    .contact_right{
        margin-top: 10vw;
    }
    .contact_right iframe{
        width: 70vw;
        height: 50vw;
    }
    
    .contact_left > form{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .contact_left > form >input{
        width: 70vw;
        height: 5vw;
        margin-bottom: 5px;
        font-size: 15px;
    }
    
    .contact_left > form > textarea{
        width: 70vw;
        height: 40vw;
        margin-bottom: 1vw;
    }

    .subtitle{
        font-size: 20px;
    }

    @keyframes show {
        from{
            display: none;
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    
}
